.cardsection {
  width: 100%;
}
.Rockcutingsection {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  max-width: 1366px;
  margin: 0 auto;
  position: relative;
}
.mode-rtl .Rockcutingsection {
  direction: rtl;
}
.Rockcutingsection__content {
  width: 100%;
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 2em;
}
.Rockcutingsection__heading {
  font-size: 40px;
  font-weight: 800;
  color: #1e1e2f;
}
.Rockcutingsection__info {
  font-size: 16px;
  font-weight: 400;
  color: #1e1e2f;
  margin-top: 1em;
}
.cardsection__content {
  width: 100%;
  max-width: 1366px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 2em;
}
.cardsection__content__left__input__main input {
  width: 75%;
  height: 90px;
  border: none;
  font-size: 28px;
  color: #1e1e1e;
  background-color: #fff;
  box-shadow: 0 46px 50px 0 rgb(0 0 0 / 3%);
  padding-left: 1em;
}
.cardsection__content__left__input__main {
  display: none;
}
.cardsection__content__left__input__main input:focus {
  transition: 300ms ease-in-out;
  outline: none;
  border: 1px solid #34a853;
}
.cardsection__content__left__input__main button {
  width: 5%;
  height: 90px;
  border: none;
  font-size: 25px;
  color: #fff;

  background-color: #34a853;
  cursor: pointer;
  position: absolute;
  z-index: 1;
}
.cardsection__content__left__input__main button:hover {
  transition: 300ms ease-in-out;
  background-color: #1e1e1e;
}

.cardsection__content__left__input input {
  width: 270px;
  height: 120px;
  border: none;
  font-size: 22px;
  color: #1e1e1e;
  background-color: #fff;
  padding-left: 1em;
  z-index: 999;
  margin-top: 3em;
}
.cardsection__content__left__input input:focus {
  transition: 300ms ease-in-out;
  outline: none;
  border: 1px solid #34a853;
}
.cardsection__content__left__input button {
  width: 120px;
  height: 120px;
  border: none;
  font-size: 34px;
  color: #fff;
  background-color: #34a853;
  cursor: pointer;
  position: absolute;
  z-index: 99;

  margin-top: 2em;
}
.cardsection__content__left__input button:hover {
  transition: 300ms ease-in-out;
  box-shadow: inset 0 -120px 0 0 #000;
  color: #fff;
}
.footer__content__right__content__input button:hover {
  transition: 300ms ease-in-out;
  box-shadow: inset 0 -120px 0 0 #000;
  color: #fff;
}
.cardsection__content__left {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.cardsection__content__right {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cardsection__content__right__content {
  display: flex;
}
.cardsection__content__right__content__card__image {
  width: 100%;
}
.cardsection__content__right__content__card {
  width: 35%;
  margin: 0em 1em;
  position: relative;
}
.cardsection__content__right__content__card__main {
  width: 90%;
  position: relative;
}

.cardsection__content__right__content__card__main {
  width: 90%;
}
.cardsection__content__right__content__card__image__left__text {
  position: absolute;
  width: 100%;
  top: 200px;
  left: -70px;
  z-index: 1;
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  display: none;
  width: 300px;
  transform: rotate(-270deg);
}
.cardsection__content__right__content__card__image__right__text {
  position: absolute;
  top: 430px;
  right: 85px;
  z-index: 1;
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  display: none;
}

.cardsection__content__right__content__card__image img {
  width: 100%;
  height: 580px;
  object-fit: cover;
  border-radius: 20px;
  object-position: center;
}
.cardsection__content__right__content__card__image__main img {
  width: 90%;
  height: 500px;
  object-fit: initial;
  border-radius: 20px;
}
.cardsection__content__right__content__card__active {
  width: 100%;
  transition: 700ms ease-in-out;
  transform-origin: left;
  animation: cardsection__content__right__content__card__active 1500ms
    cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

@keyframes cardsection__content__right__content__card__active {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(1);
  }
}
.cardsection__content__right__content__card__image__left__text {
  display: block;
  animation: cardsection__content__right__content__card__image__left__text__animation
    1s both;
}
.cardsection__content__right__content__card__active
  .cardsection__content__right__content__card__image__left__text {
  display: none;
  transition: ease-in-out 1s;
}
.cardsection__content__right__content__card__active
  .cardsection__content__right__content__card__image__right__text {
  display: block;
  animation: cardsection__content__right__content__card__image__right__text__animation
    1s both;
  transition: ease-in-out 1s;
}
@keyframes cardsection__content__right__content__card__image__right__text__animation {
  from {
    transform: translateX(0);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.cardsection__text__wraper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2em;
}
.cardsection__content__right__content__card__text {
  position: absolute;
  bottom: 150px;
  font-size: 20px;
  font-weight: 300;
  left: 10px;
  color: white;
  z-index: 1;
  transition: 1s ease-in-out;
}
.cardsection__content__right__content__card__text__heading {
  position: absolute;
  bottom: 250px;
  font-size: 20px;
  font-weight: 300;
  color: white;
  z-index: 1;
  transition: 1s ease-in-out;
  display: none;
}
.cardsection__content__right__content__card__text__subheading {
  position: absolute;
  bottom: 200px;
  font-size: 24px;
  font-weight: 600;
  color: white;
  z-index: 1;
  transition: 1s ease-in-out;
  display: none;
  width: 100%;
  // transform: rotate(-90deg);
}
.cardsection__content__right__content__card__text__deatil {
  position: absolute;
  bottom: 140px;
  font-size: 16px;
  font-weight: 300;
  color: white;
  z-index: 1;
  max-width: 500px;
  transition: 300ms ease-in-out;
  display: none;
  // padding-left: 2em;
  // transform: rotate(-90deg);
}
.cardsection__content__right__content__card__text__svg {
  position: absolute;
  bottom: 70px;
  font-size: 16px;
  font-weight: 300;
  left: 10px;
  color: white;
  z-index: 1;
  max-width: 600px;
  transition: 1s ease-in-out;
  display: none;
  padding-left: 2em;
  cursor: pointer;
  // transform: rotate(-90deg);
}
.cardsection__content__right__content__card__text__svg:hover {
  color: #34a853;
  transition: 100ms ease-in-out;
  transform: scale(1.2);
}
.cardsection__content__right__content__card__active
  .cardsection__content__right__content__card__text {
  display: none;
  transition: 1s ease-in-out;
}
.cardsection__content__right__content__card__active
  .cardsection__content__right__content__card__text__svg {
  transition: 1s ease-in-out;
  display: flex;
}
.cardsection__content__right__content__card__active
  .cardsection__content__right__content__card__text__heading {
  transition: 1s ease-in-out;
  display: flex;
}
.cardsection__content__right__content__card__active
  .cardsection__content__right__content__card__text__subheading {
  transition: 1s ease-in-out;
  display: flex;
}
.cardsection__content__right__content__card__active
  .cardsection__content__right__content__card__text__deatil {
  transition: 300ms ease-in-out;
  display: flex;
}

.cardsection__content__right__content__card__active
  .cardsection__content__right__content__card__text__two {
  display: none;
  transition: 1s ease-in-out;
}

.cardsection__content__right__content__card__text__two {
  position: absolute;
  top: 300px;
  left: 25px;
  z-index: 1;
  transition: 1s ease-in-out;
}
.cardsection__content__left__content__text {
  font-size: 76px;
  font-weight: 600;
  color: #1e1e2f;
}
.Rockcutingsection__overlayimg {
  position: absolute;
  right: 0;
  top: 70px;
  z-index: -1;
  opacity: 0.7;
}
.mode-rtl .Rockcutingsection__overlayimg {
  left: 0;
}
.mode-rtl .Rockcutingsection__overlayimg img {
  left: 0;
  position: absolute;
}
.Rockcutingsection__overlayimg img {
  height: 400px;
}
.Rockcutingsection__overlayimgline {
  position: absolute;
  left: 0;
  top: 260px;
  z-index: -1;
}
.mode-rtl .Rockcutingsection__overlayimgline {
  right: 0;
}
.Rockcutingsection__overlayimgline img {
  height: 750px;
}
.mode-rtl .Rockcutingsection__overlayimgline img {
  transform: scaleX(-1);
}
.image-gallery-image {
  max-height: 80vh !important;
  height: 80vh;
  object-fit: cover;
}
.image-gallery-thumbnails {
  width: 100vw !important;
}
@media (max-width: 1200px) {
  .cardsection__content__right__content__card__image__left__text {
    left: -90px;
  }
  .cardsection__content__right__content__card__text__deatil {
    bottom: 120px;
  }
}
@media (max-width: 980px) {
  .Rockcutingsection {
    padding: 0 1em;
    justify-content: center;
    align-items: center;
  }
  .cardsection__content__right__content {
    flex-direction: column;
  }
  .cardsection__content__right__content__card
    .cardsection__content__right__content__card__image__left__text {
    transform: rotate(0deg);
    font-size: 20px;
    padding-left: 1em;
    top: 50px;
    left: 0;
    width: 300px;
  }

  .cardsection__content__right__content__card__image img {
    height: 500px;
    width: 100%;
  }
  .cardsection__content__right__content__card {
    width: 100%;
  }
  .cardsection__content__right__content__card__text {
    display: none !important;
  }
  .cardsection__content__right__content__card__text {
    display: flex;
    transform: rotate(0deg);
  }
  .cardsection__content__right__content__card__image__left__text {
    display: flex !important;
    justify-content: center;
  }
  .cardsection__content__right__content__card__image__left__text {
    left: -190px;
    width: 500px;
    text-align: center;
  }
  .cardsection__content__right__content__card
    .cardsection__content__right__content__card__image__left__text {
    transform-origin: center;
  }
}
@media (max-width: 800px) {
  .cardsection__text__wraper {
    padding: 1em;
  }
  .cardsection__content__right__content__card__text__deatil {
    bottom: 130px;
  }
}
@media (max-width: 780px) {
  .Rockcutingsection {
    padding: 2em;
  }
  .cardsection__content__right__content__card {
    margin-bottom: 2em !important;
  }

  .cardsection__content__right__content__card {
    height: 500px !important;
  }
  .cardsection__content__right__content__card__image img {
    height: 500px;
  }
  .cardsection__content {
    padding: 0em !important;
  }
}
@media (max-width: 500px) {
  .cardsection__content__right__content__card__image__left__text {
    justify-content: flex-start;
    display: none;
  }
}
