.footer__over__main {
  background-color: black;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  padding: 2em 4em;
}
.footer__main__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 1em;
}
.footer__testim__wrapaer {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding-bottom: 4em;
}
.footer__testim__wrapaer__text {
  width: 100%;
  max-width: 900px;
  font-size: 24px;
  font-weight: 600;
  color: white;
  display: flex;
  align-items: flex-start;
  text-align: left;
  justify-content: flex-start;
  text-align: justify;
  padding: 2em 0em;
}
.footer__testim__wrapaer__quote {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}
.footer__testim__wrapaer__quote__row__first {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.footer__testim__wrapaer__quote__row__text {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.footer__testim__wrapaer__quote__row__avatar img {
  width: 100%;
  max-width: 70px;
  object-fit: cover;
  margin-right: 2em;
}
.footer__testim__wrapaer__quote__row__avatar__name {
  font-size: 17px;
  font-weight: bold;
}
.footer__testim__wrapaer__quote__row__avatar__dese {
  font-size: 15px;
  //   font-weight: lighter;
  margin: 0.5em 0;
}
.footer__testim__wrapaer__quote__row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__testim__wrapaer__quote__row__svg1 {
  cursor: pointer;
  border-radius: 40px;
  border: 1px solid white;
  margin: 1em;
  padding: 0.5em;
  border-radius: 60px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 300ms ease-in-out;
  background-color: #4733b5;
  border: 1px solid #4733b5;
}
.footer__testim__wrapaer__quote__row__svg2 {
  cursor: pointer;
  border-radius: 40px;
  border: 1px solid white;
  margin: 1em;
  padding: 0.5em;
  border-radius: 60px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 300ms ease-in-out;
  background-color: #0faadf;
  border: 1px solid #0faadf;
}
.footer__testim__wrapaer__quote__row__svg1 svg {
  color: black;
}
.footer__testim__wrapaer__quote__row__svg1:hover {
  background-color: #050505;
  transition: 300ms ease-in-out;
  border: 1px solid #f0ecec;
}
.footer__testim__wrapaer__quote__row__svg2 svg {
  color: black;
}
.footer__testim__wrapaer__quote__row__svg2:hover {
  background-color: #050505;
  transition: 300ms ease-in-out;
  border: 1px solid #f2f3f3;
}

.footer__explore__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  padding: 1em 4em;
  border-radius: 33px;
  background: linear-gradient(98deg, #6554dc 10.19%, #4733b5 95.67%);
}
.footer__explore__container__row__upper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3em 0em;
}
.footer__explore__container__row__upper__heading {
  font-size: 45px;
  font-weight: 800;
  width: 100%;
  max-width: 400px;
  line-height: 50px;
}
.footer__explore__container__row__upper__btn__entry {
  background-color: transparent;
  border: 1px solid white;
  padding: 0.4em 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 12px;
  font-size: 1rem;
  transition: 300ms ease-in-out;
}
.footer__explore__container__row__upper__btn__svg {
  margin-left: 1em;
  margin-top: 6px;
}
.footer__explore__container__row__upper__btn__entry:hover {
  background-color: white;
  color: black;
  transition: 300ms ease-in-out;
}
.footer__explore__container__row__bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3em 0em;
  flex-wrap: wrap;
  border-top: 1px solid #9e9e9e;
}
.footer__explore__container__col__first {
  width: 50%;
  padding-right: 4em;
}
.footer__explore__container__col__wraper {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer__explore__container__col {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.footer__explore__container__col__logo {
  width: 100%;
  margin-bottom: 2em;
  align-items: flex-start;
}

.footer__explore__container__col__text {
  width: 100%;
  text-align: left;
  align-items: flex-start;
  line-height: 24px;
  font-size: 18px;
}
.footer__explore__container__col__heading {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 1em;
}
.footer__explore__container__col__entry {
  margin-bottom: 1em;
  transition: 300ms ease-in-out;
}
.footer__explore__container__col__entry:hover {
  transition: 300ms ease-in-out;
  cursor: pointer;
  color: #000;
}
.footer__explore__container__col__entry svg:hover {
  color: #0a1afa;
  transition: 300ms ease-in-out;
}
@media (max-width: 1200px) {
  .footer__explore__container__col__first {
    width: 100%;
    max-width: 700px;
    padding-right: 0em;
    margin-bottom: 1em;
  }
  .footer__explore__container__row__bottom {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .footer__explore__container__col__wraper {
    margin-top: 2em;
  }
  .footer__explore__container__col__wraper {
    width: 100%;
  }
}
@media (max-width: 950px) {
  .footer__explore__container__col__first {
    width: 100%;
  }
  .footer__explore__container__row__upper {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer__explore__container__row__upper__btn {
    margin-top: 1em;
  }
}
@media (max-width: 800px) {
  .footer__explore__container {
    padding: 1em 2em;
  }
  .footer__explore__container__row__upper__heading {
    font-size: 30px;
    line-height: 40px;
  }
  .footer__explore__container__row__upper__btn__entry {
    font-size: 14px;
  }
  .footer__explore__container__col {
    width: 30%;
    align-items: flex-start;
  }
  .footer__over__main {
    padding: 2em;
  }

  .footer__testim__wrapaer__text {
    width: 100%;
    font-size: 16px;
  }
  .footer__testim__wrapaer__quote__row__avatar__name {
    font-size: 16px;
  }
  .footer__testim__wrapaer__quote__row__avatar__dese {
    font-size: 12px;
  }
  .footer__testim__wrapaer__quote__row__svg {
    margin: 0.5em;
    padding: 0.5em;
  }

  .footer__testim__wrapaer__text {
    text-align: center;
  }
}
@media (max-width: 600px) {
  .footer__explore__container__col__text {
    font-size: 16px;
  }
  .footer__main__container {
    padding: 0em;
  }
  .footer__explore__container__row__upper__heading {
    font-size: 24px;
    line-height: 30px;
  }
  .footer__explore__container__col__heading {
    font-size: 16px;
  }
  .footer__explore__container__col__entry {
    font-size: 14px;
    font-weight: 300;
  }
  .footer__explore__container__col {
    width: 25%;
    align-items: flex-start;
    justify-content: flex-start;
  }
  // .footer__explore__container__col__wraper {
  //   flex-direction: column;
  //   align-items: flex-start;
  // }
  .footer__explore__container__col__logo svg {
    max-width: 150px;
  }
  .footer__explore__container__col__logo {
    margin-bottom: 1em;
  }
  .footer__testim__wrapaer__quote__row__avatar img {
    max-width: 50px;
    margin: 0em;
  }
  .footer__testim__wrapaer__quote__row__first {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer__testim__wrapaer__quote__row__text {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
