* {
  box-sizing: border-box;
}
body {
  width: 100%;
  margin: 0em;
}
.main__grid__overlay {
  width: 100%;
  padding: 0 2em;
  max-width: 1366px;
  margin: 0em auto;
  margin-top: 4em;
}
.parent {
  display: grid;
  grid-gap: 10px;
  font-size: 3rem;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(8, 1fr);
  height: fit-content;
  width: 100%;
  height: 1344px;
  margin-top: 1em;
}
.parent div {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  overflow: hidden;
  min-height: 300px;
}
.parent div img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.parent div:nth-child(1) {
  grid-area: 1 / 1 / 3 / 4;
}
.parent div:nth-child(2) {
  grid-area: 1 / 4 / 3 / 9;
}
.parent div:nth-child(3) {
  grid-area: 3 / 6 / 5 / 9;
}
.parent div:nth-child(4) {
  grid-area: 3 / 1 / 6 / 6;
}
.parent div:nth-child(5) {
  grid-area: 5 / 6 / 8 / 9;
}
.parent div:nth-child(6) {
  grid-area: 8 / 6 / 13 / 9;
}
.parent div:nth-child(7) {
  grid-area: 6 / 1 / 13 / 3;
}
.parent div:nth-child(8) {
  grid-area: 6 / 3 / 10 / 6;
}
.parent div:nth-child(9) {
  grid-area: 10 / 3 / 13 / 6;
}
.normal {
  grid-column: span 3;
}
.normal2 {
  grid-column: span 5;
}

@media (max-width: 850px) {
  .main__grid__overlay {
    padding: 0 2em;
  }
}

@media (max-width: 600px) {
  .parent {
    grid-template-columns: 1fr;
    height: 100%;
  }
  .parent div {
    grid-area: span 1 !important;
  }
  .parent div img {
    max-height: 300px;
  }
}
