.header__nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1rem;
  width: 100%;
  max-width: 1300px;
  //   margin-top: 1em;
  position: relative;
  margin: 0 auto;
  top: 3.5em;
}
.header__nav__container__logo svg {
  width: 100px;
}
.header__nav__container__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__nav__container__menu__links {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  margin: 0rem 1rem;
  cursor: pointer;
  //   transition: all 300ms ease-in-out;
}
.header__nav__container__menu__links__btn {
  border: 1px solid white;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  color: white;
  margin-left: 2em;
  font-size: 1rem;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
.header__nav__container__menu__links__btn:hover {
  background-color: white;
  color: #6554dc;
  transition: all 300ms ease-in-out;
}
