.meal__text__header__container__bg {
  width: 100%;
  height: 800px;
  border-radius: 32.953px;
  position: absolute;
  top: 0;
  z-index: -9999;
  background: linear-gradient(120deg, #00ce6e 3.95%, #135134 96.98%);
}
.meal__text__header__container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 2em;
  padding-top: 12em;
  border-radius: 32.953px;
  //   background: linear-gradient(120deg, #00ce6e 3.95%, #135134 96.98%);
}
.meal__text__header__container__left {
  width: 60%;
  display: flex;
  //   align-items: flex-start;
  //   justify-content: flex-start;
  flex-direction: column;
  color: #fff;
}
.meal__text__header__container__left__heading {
  font-size: 45px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 0.5em;
  font-family: Akira;
}
.meal__text__header__container__left__subheading {
  width: 100%;
  max-width: 600px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 1.5em;
}
.meal__text__header__container__right {
  width: 20%;
  color: white;
}
.meal__text__header__container__right__logo {
  margin: 1em 0;
}
.meal__text__header__container__right__logo__title {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 0.5em;
  position: relative;
}
.meal__text__header__container__right__logo__title::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  left: -14px;
  top: 6px;
  border-radius: 20px;
  background-color: #fff;
  margin-bottom: 0.5em;
}
.meal__right__text__services {
  // width: 100%;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 0.5em;
  position: relative;
}
.meal__right__text__services::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  left: -14px;
  top: 7px;
  border-radius: 20px;
  background-color: #fff;
  margin-bottom: 0.5em;
}
.meal__right__text__services__title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.5em;
}
.project__header__imags__slider {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4em;
}
.project__header__imags__slider__card {
  width: 100%;
  margin-left: 2em;
}
.project__header__imags__slider__card img {
  width: 100%;
  max-width: 350px;
  object-fit: cover;
}
.meal__about__container {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  padding: 4em 2em;
  margin-top: 4em;
}
.meal__about__container__heading {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 16px;
  background: linear-gradient(90deg, #1dbef5 0%, #5846c7 96.15%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.meal__about__container__text__wraper {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 4em;
  color: white;
}
.meal__about__container__text__wraper__heading {
  font-size: 30px;
  margin-bottom: 0.5em;
}
.meal__about__container__text__wraper__sub__heading {
  color: #a1a1aa;
}
@media (max-width: 900px) {
  .meal__text__header__container__right {
    width: 100%;
  }
  .meal__text__header__container {
    flex-direction: column;
  }
  .meal__text__header__container__left {
    width: 100%;
    margin-bottom: 2em;
  }
  .meal__text__header__container {
    padding-left: 2em;
    padding-right: 2em;
  }
  .project__header__imags__slider {
    padding: 2em;
  }
}
@media (max-width: 750px) {
  .meal__text__header__container__right {
    padding-left: 1em;
  }
  .project__header__imags__slider__card img {
    max-width: 300px;
  }
  .meal__text__header__container__bg {
    height: 1000px;
  }
  .meal__text__header__container__left__heading {
    font-size: 30px;
  }
}
