.meal__text__header__container__bg {
  width: 100%;
  height: 800px;
  border-radius: 32.953px;
  position: absolute;
  top: 0;
  z-index: -9999;
  background: linear-gradient(120deg, #00ce6e 3.95%, #135134 96.98%);
}
.meal__text__header__container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 2em;
  padding-top: 15em;
  border-radius: 32.953px;
}
.meal__text__header__container__left {
  width: 60%;
  display: flex;
  flex-direction: column;
  color: #fff;
}
.meal__text__header__container__left__heading {
  font-size: 45px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 0.5em;
  font-family: Akira;
}
.meal__text__header__container__left__subheading {
  width: 100%;
  max-width: 600px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 1.5em;
}
.meal__text__header__container__right {
  width: 20%;
  color: white;
}
.meal__text__header__container__right__logo {
  margin: 1em 0;
}
.meal__text__header__container__right__logo__title {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 0.5em;
  position: relative;
}
.meal__text__header__container__right__logo__title::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  left: -14px;
  top: 6px;
  border-radius: 20px;
  background-color: #fff;
  margin-bottom: 0.5em;
}
.meal__right__text__services {
  // width: 100%;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 0.5em;
  position: relative;
}
.meal__right__text__services::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  left: -14px;
  top: 7px;
  border-radius: 20px;
  background-color: #fff;
  margin-bottom: 0.5em;
}
.meal__right__text__services__title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.5em;
}
.project__header__imags__slider__over {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.project__header__imags__slider {
  width: 90%;
  // max-width: 1366px;
  // margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4em;
}
.project__header__imags__slider__card {
  width: 100%;
  margin-left: 2em;
}
.project__header__imags__slider__card img {
  height: 600px;
  width: 100%;
  border-radius: 20px;
}
.meal__about__container {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  padding: 4em 2em;
  margin-top: 4em;
}
.meal__about__container__heading {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 16px;
  background: linear-gradient(90deg, #1dbef5 0%, #5846c7 96.15%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.meal__about__container__text__wraper {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 4em;
  color: white;
}
.meal__about__container__text__wraper__heading {
  font-size: 30px;
  margin-bottom: 0.5em;
}
.meal__about__container__text__wraper__sub__heading {
  color: #a1a1aa;
}
.project__main__full__img {
  width: 100%;
  margin: 2em 0;
}
.project__main__full__img img {
  width: 100%;
  object-fit: cover;
  max-height: 700px;
}
.process__image {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  padding: 4em 2em;
}
.process__image img {
  width: 100%;
  object-fit: cover;
}
.Emphasizing__main__container {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  padding: 4em 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}
.Emphasizing__main__container__logo img {
  width: 100%;
  max-width: 100px;
}
.Emphasizing__main__container__heading {
  width: 100%;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.4;
  max-width: 700px;
  margin: 0.5em;
  text-align: center;
}
.Emphasizing__main__container__subheading {
  width: 100%;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
  max-width: 700px;
  margin: 0.5em;
  text-align: center;
}
// .Emphasizing__main__container__project__img {
//   width: 100%;
// }
.Emphasizing__main__container__project__img img {
  width: 100%;
  object-fit: cover;
  max-width: 900px;
  padding: 2em 0em;
}
.Emphasizing__main__container__bg__over {
  position: relative;
  width: 100%;
}
.Emphasizing__main__container__bg svg {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 600px;
  height: 600px;
}
.guide__section__wraper {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}
.guide__section__wraper__heading {
  width: 100%;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.4;
  max-width: 700px;
  margin: 0.5em;
  text-align: center;
}
.guide__section__wraper__sub__heading {
  width: 100%;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
  max-width: 700px;
  margin: 0.5em;
  text-align: center;
}
.guide__section__card__wraper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2em;
  gap: 2em;
}
.guide__section__card {
  width: 100%;
  max-width: 300px;
  min-height: 300px;
  background: #1dbef5;
  border-radius: 20px;
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}
.guide__section__card__font {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2em;
  flex-wrap: wrap;
}
.guide__section__card__font__left {
  width: 49%;
  min-height: 400px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 2em;
  border-radius: 20px;
  background: linear-gradient(253deg, #00ce6e 13.23%, #029e55 101.03%);
}
.guide__section__card__font__title {
  font-size: 20px;
}
.guide__section__card__font__left__name {
  font-size: 80px;
  font-weight: 700;
  line-height: 1.4;
  margin-top: 2em;
  width: 100%;
  padding-left: 0.5em;
}
.guide__section__card__font__left__sub__name {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.2;
  width: 100%;
  padding-left: 2em;
}
.guide__section__card__font__right {
  width: 49%;
  min-height: 400px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 2em;
  border-radius: 20px;
  border: 1px solid #4f4f4f;
  transition: 300ms ease-in-out;
}
.guide__section__card__font__right:hover {
  border: 1px solid var(--gradient-01, #6ddcff);
  background: #18181b;
  transition: 300ms ease-in-out;
}
.guide__section__card__font__right__name {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.4;
  margin-top: 7em;
  width: 100%;
  max-width: 600px;
  padding-left: 0.5em;
}
.guide__section__card__font__right__sub__name {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.2;
  width: 100%;
  max-width: 600px;
  margin-top: 1em;
}
.result__container__over {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  padding: 4em 2em;
  color: white;
}
.result__container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #1a1919;
  padding: 2em;
  border-radius: 18px;
}
.result__container__heading {
  font-size: 18px;
  background: linear-gradient(90deg, #1dbef5 0%, #5846c7 96.15%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.result__container__text__wraper__container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1em;
}
.result__container__text__wraper {
  width: 40%;
  max-width: 600px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 2em;
}
.result__container__text__wraper__number {
  font-size: 40px;
  font-weight: 700;
  margin: 0.2em 0;
}
.result__container__text__wraper__heading {
  font-size: 17px;
  font-weight: 400;
}
.result__container__text__wraper__subheading {
  color: #a1a1aa;
  margin: 0.5em 0;
  max-width: 350px;
}
.get__demo__main__container {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  padding: 4em 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.get__demo__main__container__left {
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.get__demo__main__container__left__img {
  width: 100%;
  max-width: 500px;
}
.get__demo__main__container__right {
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  color: white;
  // max-width: 700px;
  padding: 2em;
}
.get__demo__main__container__right__heading {
  font-size: 45px;
  font-weight: 700;
  line-height: 50px;
}
.get__demo__main__container__right__subheading {
  font-size: 16px;
  font-weight: 400;
  color: #a1a1aa;
  margin: 1em 0;
}
.get__demo__main__container__right__mail__wraper__bg__over {
  width: 100%;
  position: relative;
}
.get__demo__main__container__right__mail__wraper__bg svg {
  width: 100%;
}
.get__demo__main__container__right__mail__wraper {
  margin-top: 2em;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 3em;
  left: 0;
}
.get__demo__main__container__right__mail__wraper__title {
  font-size: 14px;
  font-weight: 700;
  padding: 0.5em 0;
}
.get__demo__main__container__right__mail__wraper__input__wraper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  background-color: #18181b;
  border-radius: 10px;
}
.get__demo__main__container__right__mail__wraper__input {
  background-color: transparent;
  width: 100%;
  outline: none;
  border: none;
  color: white;
  padding: 1em 2em;
  font-size: 16px;
}
.get__demo__main__container__right__mail__wraper__input::placeholder {
  color: #a1a1aa;
  font-size: 16px;
}
.get__demo__main__container__right__mail__wraper__input:focus {
  outline: none;
}
.get__demo__main__container__right__mail__wraper__input__button {
  width: 100%;
  max-width: 170px;
  background-color: white;
  border-radius: 12px;
  padding: 1em;
  margin: 8px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #353434;
  transition: 300ms ease-in-out;
}

.get__demo__main__container__right__mail__wraper__input__button:hover {
  background-color: #00ce6e;
  color: rgb(245, 243, 243);
  transition: 300ms ease-in-out;
}
@media (max-width: 1100px) {
  .get__demo__main__container {
    flex-direction: column;
  }
  .get__demo__main__container__right {
    width: 100%;
    padding: 0em;
    padding-top: 3em;
  }
  .get__demo__main__container__left {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 900px) {
  .get__demo__main__container__right__heading {
    font-size: 35px;
  }
  .get__demo__main__container {
    padding: 0em 2em;
  }
  .result__container__text__wraper {
    width: 45%;
    padding: 1em;
  }
  .meal__text__header__container__right {
    width: 100%;
  }
  .meal__text__header__container {
    flex-direction: column;
  }
  .meal__text__header__container__left {
    width: 100%;
    margin-bottom: 2em;
  }
  .meal__text__header__container {
    padding-left: 2em;
    padding-right: 2em;
  }
  .project__header__imags__slider {
    padding: 2em;
  }
}
@media (max-width: 800px) {
  .get__demo__main__container__right__mail__wraper__input__button {
    font-size: 14px;
  }
  .guide__section__card__font__left {
    width: 100%;
  }
  .guide__section__card__font__right {
    width: 100%;
    margin-top: 2em;
  }
}
@media (max-width: 750px) {
  .result__container__text__wraper__container {
    margin-top: 2em;
  }
  .result__container__text__wraper {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid var(--gradient-01, #4ab7d86c);
    border-radius: 12px;
  }
  .guide__section__card__font__left__name {
    font-size: 60px;
    margin-top: 3em;
  }
  .guide__section__wraper__heading {
    font-size: 30px;
  }
  .Emphasizing__main__container__heading {
    font-size: 30px;
  }
  .meal__text__header__container__right {
    padding-left: 1em;
  }
  .project__header__imags__slider__card img {
    max-width: 300px;
  }
  .meal__text__header__container__bg {
    height: 1000px;
  }
  .meal__text__header__container__left__heading {
    font-size: 30px;
  }
  .process__image {
    padding: 2em;
  }
}
@media (max-width: 550px) {
  .Emphasizing__main__container__heading {
    font-size: 25px;
  }
  .guide__section__card {
    max-width: 100%;
    min-height: 150px;
  }
  .result__container__text__wraper__number {
    font-size: 30px;
  }
  .result__container__text__wraper__subheading {
    font-size: 14px;
  }
}
